In [1]:
import numpy as np
import pandas as pd

In [131]:
a=[1,2,3,4,5,6]
b=[1,3,5,7,9,0]
one_d=np.array(a)
print(one_d)
b+a

[1 2 3 4 5 6]

[1, 3, 5, 7, 9, 0, 1, 2, 3, 4, 5, 6]

In [ ]:
two_d=np.array([a],[b])
print(two_d)

In [138]:
x=np.array(10,64)
x

TypeError: data type not understood

In [18]:
indices=np.random.random((8,8))
indices

array([[0.17410509, 0.91840166, 0.54229102, 0.30518754, 0.78581547,
        0.0958676 , 0.09018464, 0.13986153],
       [0.71382315, 0.44412693, 0.49187475, 0.54100206, 0.71490142,
        0.58114834, 0.03585936, 0.19476024],
       [0.98222188, 0.48187206, 0.75787747, 0.25332515, 0.35643038,
        0.41901099, 0.47987125, 0.03295546],
       [0.59877265, 0.52436256, 0.14937787, 0.06285989, 0.69262839,
        0.51578552, 0.50168248, 0.13848482],
       [0.78084837, 0.52606133, 0.80893973, 0.60702978, 0.7343852 ,
        0.01019221, 0.87449577, 0.05301381],
       [0.90173429, 0.97155846, 0.63807715, 0.51064446, 0.48697397,
        0.47915497, 0.13934679, 0.89108342],
       [0.44475515, 0.91434472, 0.54955465, 0.14321277, 0.52017598,
        0.04847557, 0.01751083, 0.66471085],
       [0.31456346, 0.35329223, 0.12749121, 0.7689703 , 0.99666449,
        0.43021421, 0.75092488, 0.10347303]])

In [140]:

indices.reshape[16,2,2]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [21]:
import pandas as pd
import numpy as np
titanic=pd.read_csv(r'C:\Users\christ\Downloads\titanic.csv')
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,NaN,NaN,NaN,NaN
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,NaN,NaN,NaN,NaN
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,NaN,NaN,NaN,NaN
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,NaN,NaN,NaN,NaN
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,NaN,NaN,NaN,NaN
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,NaN,NaN,NaN,NaN
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,NaN,NaN,NaN,NaN
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,NaN,NaN,NaN,NaN
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,NaN,NaN,NaN,NaN
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,NaN,NaN,NaN,NaN
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,NaN,NaN,NaN,NaN
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,NaN,NaN,NaN,NaN
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S,NaN,NaN,NaN,NaN
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S,NaN,NaN,NaN,NaN
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S,NaN,NaN,NaN,
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S,NaN,NaN,NaN,NaN
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q,NaN,NaN,NaN,NaN
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,NaN,NaN,NaN,NaN
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S,NaN,NaN,NaN,NaN
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,NaN,NaN,NaN,NaN
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S,NaN,NaN,NaN,NaN
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S,NaN,NaN,NaN,NaN
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q,NaN,NaN,NaN,NaN
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,NaN,NaN,NaN,NaN
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S,NaN,NaN,NaN,NaN
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S,NaN,NaN,NaN,NaN
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C,NaN,NaN,NaN,NaN
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,NaN,NaN,NaN,NaN
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q,NaN,NaN,NaN,NaN
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126,127,0,3,"McMahon, Mr. Martin",male,NaN,0,0,370372,7.7500,NaN,Q,NaN,NaN,NaN,NaN
127,128,1,3,"Madsen, Mr. Fridtjof Arne",male,24.0,0,0,C 17369,7.1417,NaN,S,NaN,NaN,NaN,NaN
128,129,1,3,"Peter, Miss. Anna",female,NaN,1,1,2668,22.3583,F E69,C,NaN,NaN,NaN,NaN
129,130,0,3,"Ekstrom, Mr. Johan",male,45.0,0,0,347061,6.9750,NaN,S,NaN,NaN,NaN,NaN
130,131,0,3,"Drazenoic, Mr. Jozef",male,33.0,0,0,349241,7.8958,NaN,C,NaN,NaN,NaN,NaN
131,132,0,3,"Coelho, Mr. Domingos Fernandeo",male,20.0,0,0,SOTON/O.Q. 3101307,7.0500,NaN,S,NaN,NaN,NaN,NaN
132,133,0,3,"Robins, Mrs. Alexander A (Grace Charity Laury)",female,47.0,1,0,A/5. 3337,14.5000,NaN,S,NaN,NaN,NaN,NaN
133,134,1,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.0,1,0,228414,26.0000,NaN,S,NaN,NaN,NaN,NaN
134,135,0,2,"Sobey, Mr. Samuel James Hayden",male,25.0,0,0,C.A. 29178,13.0000,NaN,S,NaN,NaN,NaN,NaN
135,136,0,2,"Richard, Mr. Emile",male,23.0,0,0,SC/PARIS 2133,15.0458,NaN,C,NaN,NaN,NaN,NaN
136,137,1,1,"Newsom, Miss. Helen Monypeny",female,19.0,0,2,11752,26.2833,D47,S,NaN,NaN,NaN,NaN
137,138,0,1,"Futrelle, Mr. Jacques Heath",male,37.0,1,0,113803,53.1000,C123,S,NaN,NaN,NaN,NaN
138,139,0,3,"Osen, Mr. Olaf Elon",male,16.0,0,0,7534,9.2167,NaN,S,NaN,NaN,NaN,NaN
139,140,0,1,"Giglio, Mr. Victor",male,24.0,0,0,PC 17593,79.2000,B86,C,NaN,NaN,NaN,NaN
140,141,0,3,"Boulos, Mrs. Joseph (Sultana)",female,NaN,0,2,2678,15.2458,NaN,C,NaN,NaN,NaN,NaN
141,142,1,3,"Nysten, Miss. Anna Sofia",female,22.0,0,0,347081,7.7500,NaN,S,NaN,NaN,NaN,NaN
142,143,1,3,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...",female,24.0,1,0,STON/O2. 3101279,15.8500,NaN,S,NaN,NaN,NaN,NaN
143,144,0,3,"Burke, Mr. Jeremiah",male,19.0,0,0,365222,6.7500,NaN,Q,NaN,NaN,NaN,NaN
144,145,0,2,"Andrew, Mr. Edgardo Samuel",male,18.0,0,0,231945,11.5000,NaN,S,NaN,NaN,NaN,NaN
145,146,0,2,"Nicholls, Mr. Joseph Charles",male,19.0,1,1,C.A. 33112,36.7500,NaN,S,NaN,NaN,NaN,NaN
146,147,1,3,"Andersson, Mr. August Edvard (""Wennerstrom"")",male,27.0,0,0,350043,7.7958,NaN,S,NaN,NaN,NaN,NaN
147,148,0,3,"Ford, Miss. Robina Maggie ""Ruby""",female,9.0,2,2,W./C. 6608,34.3750,NaN,S,NaN,NaN,NaN,NaN
148,149,0,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",male,36.5,0,2,230080,26.0000,F2,S,NaN,NaN,NaN,NaN
149,150,0,2,"Byles, Rev. Thomas Roussel Davids",male,42.0,0,0,244310,13.0000,NaN,S,NaN,NaN,NaN,NaN
150,151,0,2,"Bateman, Rev. Robert James",male,51.0,0,0,S.O.P. 1166,12.5250,NaN,S,NaN,NaN,NaN,NaN
151,152,1,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22.0,1,0,113776,66.6000,C2,S,NaN,NaN,NaN,NaN
152,153,0,3,"Meo, Mr. Alfonzo",male,55.5,0,0,A.5. 11206,8.0500,NaN,S,NaN,NaN,NaN,NaN
153,154,0,3,"van Billiard, Mr. Austin Blyler",male,40.5,0,2,A/5. 851,14.5000,NaN,S,NaN,NaN,NaN,NaN
154,155,0,3,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,7.3125,NaN,S,NaN,NaN,NaN,NaN
155,156,0,1,"Williams, Mr. Charles Duane",male,51.0,0,1,PC 17597,61.3792,NaN,C,NaN,NaN,NaN,NaN

In [22]:
titanic.isnull()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,False,False,False,False,False,False,False,False,False,False,True,False,True,True,True,True
1,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True
2,False,False,False,False,False,False,False,False,False,False,True,False,True,True,True,True
3,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True
4,False,False,False,False,False,False,False,False,False,False,True,False,True,True,True,True
5,False,False,False,False,False,True,False,False,False,False,True,False,True,True,True,True
6,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True
7,False,False,False,False,False,False,False,False,False,False,True,False,True,True,True,True
8,False,False,False,False,False,False,False,False,False,False,True,False,True,True,True,True
9,False,False,False,False,False,False,False,False,False,False,True,False,True,True,True,True
10,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True
11,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True
12,False,False,False,False,False,False,False,False,False,False,True,False,True,True,True,True
13,False,False,False,False,False,False,False,False,False,False,True,False,True,True,True,True
14,False,False,False,False,False,False,False,False,False,False,True,False,True,True,True,False
15,False,False,False,False,False,False,False,False,False,False,True,False,True,True,True,True
16,False,False,False,False,False,False,False,False,False,False,True,False,True,True,True,True
17,False,False,False,False,False,True,False,False,False,False,True,False,True,True,True,True
18,False,False,False,False,False,False,False,False,False,False,True,False,True,True,True,True
19,False,False,False,False,False,True,False,False,False,False,True,False,True,True,True,True
20,False,False,False,False,False,False,False,False,False,False,True,False,True,True,True,True
21,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True
22,False,False,False,False,False,False,False,False,False,False,True,False,True,True,True,True
23,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True
24,False,False,False,False,False,False,False,False,False,False,True,False,True,True,True,True
25,False,False,False,False,False,False,False,False,False,False,True,False,True,True,True,True
26,False,False,False,False,False,True,False,False,False,False,True,False,True,True,True,True
27,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True
28,False,False,False,False,False,True,False,False,False,False,True,False,True,True,True,True
29,False,False,False,False,False,True,False,False,False,False,True,False,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126,False,False,False,False,False,True,False,False,False,False,True,False,True,True,True,True
127,False,False,False,False,False,False,False,False,False,False,True,False,True,True,True,True
128,False,False,False,False,False,True,False,False,False,False,False,False,True,True,True,True
129,False,False,False,False,False,False,False,False,False,False,True,False,True,True,True,True
130,False,False,False,False,False,False,False,False,False,False,True,False,True,True,True,True
131,False,False,False,False,False,False,False,False,False,False,True,False,True,True,True,True
132,False,False,False,False,False,False,False,False,False,False,True,False,True,True,True,True
133,False,False,False,False,False,False,False,False,False,False,True,False,True,True,True,True
134,False,False,False,False,False,False,False,False,False,False,True,False,True,True,True,True
135,False,False,False,False,False,False,False,False,False,False,True,False,True,True,True,True
136,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True
137,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True
138,False,False,False,False,False,False,False,False,False,False,True,False,True,True,True,True
139,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True
140,False,False,False,False,False,True,False,False,False,False,True,False,True,True,True,True
141,False,False,False,False,False,False,False,False,False,False,True,False,True,True,True,True
142,False,False,False,False,False,False,False,False,False,False,True,False,True,True,True,True
143,False,False,False,False,False,False,False,False,False,False,True,False,True,True,True,True
144,False,False,False,False,False,False,False,False,False,False,True,False,True,True,True,True
145,False,False,False,False,False,False,False,False,False,False,True,False,True,True,True,True
146,False,False,False,False,False,False,False,False,False,False,True,False,True,True,True,True
147,False,False,False,False,False,False,False,False,False,False,True,False,True,True,True,True
148,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True
149,False,False,False,False,False,False,False,False,False,False,True,False,True,True,True,True
150,False,False,False,False,False,False,False,False,False,False,True,False,True,True,True,True
151,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True
152,False,False,False,False,False,False,False,False,False,False,True,False,True,True,True,True
153,False,False,False,False,False,False,False,False,False,False,True,False,True,True,True,True
154,False,False,False,False,False,True,False,False,False,False,True,False,True,True,True,True
155,False,False,False,False,False,False,False,False,False,False,True,False,True,True,True,True

In [27]:
a=titanic.head(5)
print(a)
a.describe()

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked  Unnamed: 12  Unnamed: 13  \
0      0         A/5 21171   7.2500   NaN        S          NaN          NaN
1      0          PC 17599  71.2833   C85        C          NaN          NaN
2      0  STON/O2. 3101282   7.9250   NaN        S          NaN          NaN
3      0            113803  53.1000  C123        S          NaN          NaN
4      0            373450   8.0500   NaN        S          NaN          NaN

   Unnamed: 14 Unnamed: 15
0          NaN         NaN
1          NaN         NaN
2          NaN         NaN
3          NaN         NaN
4          NaN         NaN

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Unnamed: 12,Unnamed: 13,Unnamed: 14
count,5.000000,5.000000,5.000000,5.00000,5.000000,5.0,5.000000,0.0,0.0,0.0
mean,3.000000,0.600000,2.200000,31.20000,0.600000,0.0,29.521660,NaN,NaN,NaN
std,1.581139,0.547723,1.095445,6.83374,0.547723,0.0,30.510029,NaN,NaN,NaN
min,1.000000,0.000000,1.000000,22.00000,0.000000,0.0,7.250000,NaN,NaN,NaN
25%,2.000000,0.000000,1.000000,26.00000,0.000000,0.0,7.925000,NaN,NaN,NaN
50%,3.000000,1.000000,3.000000,35.00000,1.000000,0.0,8.050000,NaN,NaN,NaN
75%,4.000000,1.000000,3.000000,35.00000,1.000000,0.0,53.100000,NaN,NaN,NaN
max,5.000000,1.000000,3.000000,38.00000,1.000000,0.0,71.283300,NaN,NaN,NaN

In [42]:
titanic.group by(PassengerId)

SyntaxError: invalid syntax (<ipython-input-42-60e9f08e1f71>, line 1)

In [38]:
titanic.loc[titanic["Age"]>50][["Survived"]]

     Survived
6           0
11          1
15          1
33          0
54          0
94          0
96          0
116         0
124         0
150         0
152         0
155         0

In [54]:
s=titanic["Age"].value_counts()
s

21.00    8
29.00    6
19.00    6
22.00    6
24.00    5
28.00    5
38.00    4
26.00    4
20.00    4
16.00    3
34.00    3
14.00    3
33.00    3
23.00    3
2.00     3
27.00    3
18.00    3
35.00    3
17.00    3
45.00    2
51.00    2
42.00    2
4.00     2
40.00    2
32.00    2
25.00    2
54.00    2
37.00    2
47.00    2
32.50    2
58.00    1
8.00     1
39.00    1
55.00    1
31.00    1
15.00    1
36.50    1
7.00     1
55.50    1
66.00    1
12.00    1
70.50    1
14.50    1
71.00    1
59.00    1
46.00    1
30.00    1
11.00    1
5.00     1
28.50    1
65.00    1
40.50    1
49.00    1
9.00     1
3.00     1
0.83     1
Name: Age, dtype: int64

In [55]:
car=pd.read_csv(r'C:\Users\christ\Downloads\car.csv')
car

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
5,5,audi,sedan,99.8,177.3,ohc,five,110,19,15250.0
6,6,audi,wagon,105.8,192.7,ohc,five,110,19,18920.0
7,9,bmw,sedan,101.2,176.8,ohc,four,101,23,16430.0
8,10,bmw,sedan,101.2,176.8,ohc,four,101,23,16925.0
9,11,bmw,sedan,101.2,176.8,ohc,six,121,21,20970.0
10,13,bmw,sedan,103.5,189.0,ohc,six,182,16,30760.0
11,14,bmw,sedan,103.5,193.8,ohc,six,182,16,41315.0
12,15,bmw,sedan,110.0,197.0,ohc,six,182,15,36880.0
13,16,chevrolet,hatchback,88.4,141.1,l,three,48,47,5151.0
14,17,chevrolet,hatchback,94.5,155.9,ohc,four,70,38,6295.0
15,18,chevrolet,sedan,94.5,158.8,ohc,four,70,38,6575.0
16,19,dodge,hatchback,93.7,157.3,ohc,four,68,31,6377.0
17,20,dodge,hatchback,93.7,157.3,ohc,four,68,31,6229.0
18,27,honda,wagon,96.5,157.1,ohc,four,76,30,7295.0
19,28,honda,sedan,96.5,175.4,ohc,four,101,24,12945.0
20,29,honda,sedan,96.5,169.1,ohc,four,100,25,10345.0
21,30,isuzu,sedan,94.3,170.7,ohc,four,78,24,6785.0
22,31,isuzu,sedan,94.5,155.9,ohc,four,70,38,NaN
23,32,isuzu,sedan,94.5,155.9,ohc,four,70,38,NaN
24,33,jaguar,sedan,113.0,199.6,dohc,six,176,15,32250.0
25,34,jaguar,sedan,113.0,199.6,dohc,six,176,15,35550.0
26,35,jaguar,sedan,102.0,191.7,ohcv,twelve,262,13,36000.0
27,36,mazda,hatchback,93.1,159.1,ohc,four,68,30,5195.0
28,37,mazda,hatchback,93.1,159.1,ohc,four,68,31,6095.0
29,38,mazda,hatchback,93.1,159.1,ohc,four,68,31,6795.0
...,...,...,...,...,...,...,...,...,...,...
31,43,mazda,sedan,104.9,175.0,ohc,four,72,31,18344.0
32,44,mercedes-benz,sedan,110.0,190.9,ohc,five,123,22,25552.0
33,45,mercedes-benz,wagon,110.0,190.9,ohc,five,123,22,28248.0
34,46,mercedes-benz,sedan,120.9,208.1,ohcv,eight,184,14,40960.0
35,47,mercedes-benz,hardtop,112.0,199.2,ohcv,eight,184,14,45400.0
36,49,mitsubishi,hatchback,93.7,157.3,ohc,four,68,37,5389.0
37,50,mitsubishi,hatchback,93.7,157.3,ohc,four,68,31,6189.0
38,51,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,6989.0
39,52,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,8189.0
40,53,nissan,sedan,94.5,165.3,ohc,four,55,45,7099.0
41,54,nissan,sedan,94.5,165.3,ohc,four,69,31,6649.0
42,55,nissan,sedan,94.5,165.3,ohc,four,69,31,6849.0
43,56,nissan,wagon,94.5,170.2,ohc,four,69,31,7349.0
44,57,nissan,sedan,100.4,184.6,ohcv,six,152,19,13499.0
45,61,porsche,hardtop,89.5,168.9,ohcf,six,207,17,34028.0
46,62,porsche,convertible,89.5,168.9,ohcf,six,207,17,37028.0
47,63,porsche,hatchback,98.4,175.7,dohcv,eight,288,17,NaN
48,66,toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0
49,67,toyota,hatchback,95.7,158.7,ohc,four,62,31,6338.0
50,68,toyota,hatchback,95.7,158.7,ohc,four,62,31,6488.0
51,69,toyota,wagon,95.7,169.7,ohc,four,62,31,6918.0
52,70,toyota,wagon,95.7,169.7,ohc,four,62,27,7898.0
53,71,toyota,wagon,95.7,169.7,ohc,four,62,27,8778.0
54,79,toyota,wagon,104.5,187.8,dohc,six,156,19,15750.0
55,80,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7775.0
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [56]:
car.head()

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

In [58]:
car.shape

(61, 10)

In [59]:
pd.isnull(car)

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,True
23,False,False,False,False,False,False,False,False,False,True
24,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
31,False,False,False,False,False,False,False,False,False,False
32,False,False,False,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False,False,False,False
34,False,False,False,False,False,False,False,False,False,False
35,False,False,False,False,False,False,False,False,False,False
36,False,False,False,False,False,False,False,False,False,False
37,False,False,False,False,False,False,False,False,False,False
38,False,False,False,False,False,False,False,False,False,False
39,False,False,False,False,False,False,False,False,False,False
40,False,False,False,False,False,False,False,False,False,False
41,False,False,False,False,False,False,False,False,False,False
42,False,False,False,False,False,False,False,False,False,False
43,False,False,False,False,False,False,False,False,False,False
44,False,False,False,False,False,False,False,False,False,False
45,False,False,False,False,False,False,False,False,False,False
46,False,False,False,False,False,False,False,False,False,False
47,False,False,False,False,False,False,False,False,False,True
48,False,False,False,False,False,False,False,False,False,False
49,False,False,False,False,False,False,False,False,False,False
50,False,False,False,False,False,False,False,False,False,False
51,False,False,False,False,False,False,False,False,False,False
52,False,False,False,False,False,False,False,False,False,False
53,False,False,False,False,False,False,False,False,False,False
54,False,False,False,False,False,False,False,False,False,False
55,False,False,False,False,False,False,False,False,False,False
56,False,False,False,False,False,False,False,False,False,False
57,False,False,False,False,False,False,False,False,False,False
58,False,False,False,False,False,False,False,False,False,False
59,False,False,False,False,False,False,False,False,False,False
60,False,False,False,False,False,False,False,False,False,False

In [66]:
car.head(5)

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

In [67]:
car.tail(5)

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [156]:
print(car.groupby(by=("price").max()))

AttributeError: 'str' object has no attribute 'max'

In [152]:
car.pivot_table(index=["company"],values=["price"],aggfunc="max")

                 price
company
alfa-romero    16500.0
audi           18920.0
bmw            41315.0
chevrolet       6575.0
dodge           6377.0
honda          12945.0
isuzu           6785.0
jaguar         36000.0
mazda          18344.0
mercedes-benz  45400.0
mitsubishi      8189.0
nissan         13499.0
porsche        37028.0
toyota         15750.0
volkswagen      9995.0
volvo          13415.0

In [86]:
car.loc[car=="toyota"]

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
48,66,toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0
49,67,toyota,hatchback,95.7,158.7,ohc,four,62,31,6338.0
50,68,toyota,hatchback,95.7,158.7,ohc,four,62,31,6488.0
51,69,toyota,wagon,95.7,169.7,ohc,four,62,31,6918.0
52,70,toyota,wagon,95.7,169.7,ohc,four,62,27,7898.0
53,71,toyota,wagon,95.7,169.7,ohc,four,62,27,8778.0
54,79,toyota,wagon,104.5,187.8,dohc,six,156,19,15750.0

In [89]:
car.pivot_table(index=["company"],values=["average-mileage"],aggfunc="mean")

               average-mileage
company
alfa-romero          20.333333
audi                 20.000000
bmw                  19.000000
chevrolet            41.000000
dodge                31.000000
honda                26.333333
isuzu                33.333333
jaguar               14.333333
mazda                28.000000
mercedes-benz        18.000000
mitsubishi           29.500000
nissan               31.400000
porsche              17.000000
toyota               28.714286
volkswagen           31.750000
volvo                23.000000

In [100]:
car.groupby(["price"])

In [93]:
employee=pd.read_csv(r'C:\Users\christ\Downloads\employees.csv')
employee

,first_name,last_name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,...,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47
0,Brown,Mia,1103024456,1,1,0,1,1,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,LaRotonda,William,1106026572,0,2,1,1,1,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Steans,Tyrone,1302053333,0,0,1,1,1,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Howard,Estelle,1211050782,1,1,0,1,1,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Singh,Nan,1307059817,0,0,0,1,1,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Smith,Leigh Ann,711007713,1,1,0,5,1,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Bunbury,Jessica,1504073368,1,1,0,5,6,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Carter,Michelle,1403065721,0,0,0,1,6,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Dietrich,Jenna,1408069481,0,0,0,1,6,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Digitale,Alfred,1306059197,1,1,1,1,6,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Friedman,Gerry,1204032843,0,0,1,1,6,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Gill,Whitney,1302053046,0,4,0,4,6,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Gonzales,Ricardo,1411071481,1,1,1,1,6,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Guilianno,Mike,1001167253,0,0,1,5,6,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Leruth,Giovanni,1412071660,0,3,1,1,6,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Mullaney,Howard,1306057978,0,0,1,1,6,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Ozark,Travis,812011761,0,0,1,1,6,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Strong,Caitrin,1411071295,1,1,0,1,6,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Valentin,Jackie,1312063714,1,1,0,1,6,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Villanueva,Noah,1111030503,0,0,1,1,6,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Buck,Edward,1504073313,1,1,1,1,6,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Costa,Latia,1409070567,0,0,0,1,6,4,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Fraval,Maruk,1411071302,0,0,1,1,6,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Givens,Myriam,1203032099,0,0,0,1,6,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Jeremy,NaN,1001084890,1,1,1,1,6,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Khemmich,Bartholemew,1104025008,0,0,1,1,6,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Martins,Joseph,1209048771,0,0,1,1,6,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,McKinzie,Jac,1209049326,1,1,1,2,6,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Nguyen,Dheepa,1111030684,0,0,0,1,6,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Onque,Jasmine,1501072180,0,0,0,1,6,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,Thibaud,Kenneth,1011022777,0,4,1,5,5,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
281,Daneault,Lynn,1402065303,0,0,0,1,6,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
282,Kampew,Donysha,1109029264,0,0,0,5,6,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283,Smith,John,1499902910,0,2,1,1,6,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
284,Le,Binh,1009919930,0,0,0,1,3,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
285,Navathe,Kurt,1009919960,0,0,1,1,3,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
286,Wang,Charlie,1009919970,0,0,1,1,3,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
287,LeBlanc,Brandon R,1102024115,1,1,1,1,1,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
288,Quinn,Sean,1206043417,1,1,1,5,1,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289,Andreola,Colby,1107027358,0,0,0,1,4,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
290,Carabbio,Judith,1101023577,0,0,0,1,4,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
291,Del Bosque,Keyla,1203032498,0,0,0,1,4,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
292,Exantus,Susan,1401064670,1,1,0,4,4,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
293,Martin,Sandra,1303054625,0,0,0,1,4,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294,Patronick,Luke,1112030979,0,0,1,5,4,4,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295,Saada,Adell,1012023185,1,1,0,1,4,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,Szabo,Andrew,1201031324,0,0,1,1,4,4,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,TRUE,Edward,1102024057,0,0,1,5,4,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,Sweetwater,Alex,1001644719,0,0,1,1,4,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,Foster-Baker,Amy,1201031308,1,1,0,1,1,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
300,Boutwell,Bonalyn,1307060188,1,1,0,1,1,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
301,Ait Sidi,Karthikeyan,1307060199,1,1,1,5,3,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
302,Carr,Claudia N,1010022337,0,0,0,2,3,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
303,Favis,Donald,1412071562,0,0,1,4,3,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
304,Roehrich,Bianca,1111030266,0,0,0,5,3,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
305,Daniele,Ann,1411071312,1,1,0,3,3,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
306,Lajiri,Jyoti,1108028108,1,1,1,3,3,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307,Semizoglou,Jeremiah,904013591,1,1,1,2,3,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308,South,Joe,1308060959,0,0,1,1,3,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309,Warfield,Sarah,1301052347,0,4,0,1,3,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [96]:
employee.loc[employee["last_name"]=="McEwen"]

Empty DataFrame
Columns: [first_name, last_name, EmpID, MarriedID, MaritalStatusID, GenderID, EmpStatusID, DeptID, PerfScoreID, FromDiversityJobFairID, PayRate, Termd, PositionID, Position, State, Zip, DOB, Sex, MaritalDesc, CitizenDesc, HispanicLatino, RaceDesc, DateofHire, DateofTermination, TermReason, EmploymentStatus, Department, ManagerName, ManagerID, RecruitmentSource, PerformanceScore, EngagementSurvey, EmpSatisfaction, SpecialProjectsCount, LastPerformanceReview_Date, DaysLateLast30, Unnamed: 36, Unnamed: 37, Unnamed: 38, Unnamed: 39, Unnamed: 40, Unnamed: 41, Unnamed: 42, Unnamed: 43, Unnamed: 44, Unnamed: 45, Unnamed: 46, Unnamed: 47]
Index: []

[0 rows x 48 columns]

In [161]:
employee.groupby(by=["DeptID"])

In [113]:
d=employee["ManagerID"].isnull()
print(d)
d.head()

0      False
1       True
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
280    False
281    False
282    False
283    False
284    False
285    False
286    False
287    False
288    False
289    False
290    False
291     True
292     True
293    False
294    False
295    False
296    False
297    False
298    False
299    False
300    False
301    False
302    False
303    False
304    False
305    False
306    False
307    False
308    False
309    False
Name: ManagerID, Length: 310, dtype: bool

0    False
1     True
2    False
3    False
4    False
Name: ManagerID, dtype: bool

In [115]:
employee["ManagerID"].notnull().head()

0     True
1    False
2     True
3     True
4     True
Name: ManagerID, dtype: bool

In [127]:
employee[["DeptID"]== 3|5]

KeyError: False